<html manifest="cache.appcache">
  <head>
    <script src="http://rawgit.com/f/graphql.js/master/graphql.min.js?v1"></script>
    <meta charset="utf-8">
    <title>kodla.co yapılacaklar</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div id="app">
      <h1>kodla.co - yapılacaklar</h1>
      <ul id="todos">
      </ul>
      <input id="addTodo" placeholder="Başka ne yapılacak?" type="text">
    </div>
    <script src="/service.js"></script>
    <script src="/app.js"></script>
  </body>
</html>